//galleries formatting

//$thumbnail-height:100%;
//$thumbnail-width:100%;
//$thumbnail-padding:15px;
//$index-height:$thumbnail-height;
//$index-width:$thumbnail-width;
//$index-padding:$thumbnail-padding;

//.indexThumb {
//	max-width: $index-width;
//	padding: $index-padding;
//	display: inline-block;
//	valign: center;
//}
.indexWrap {
	text-align:center;
	border-radius: 5px;
}
.indexBox {
	float: left;
	position: relative;
	width: 33.3%;
}
.indexInnerBox {
	position: relative;
	border-radius: 5px;
}
.galleryThumb {
	display: block;
	max-height: 300px;	
	max-width: 300px;
	object-fit: contain;
	padding: 5px;
}  
.galleryWrap {
	border-radius: 5px;
}
.pictureBox {
	float: left;
	position: relative;
}
.innerBox {
	position: relative;
//	vertical-align: middle;
//	padding-bottom: 50%;
	overflow: hidden;
	border-radius: 5px;
}
.innerBox img {
	position:absolute;
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
	object-fit: cover
}
@media only screen and (max-width : 480px) {
    //* Smartphone view: 1 tile */
    .pictureBox {
	width: 100%;
	padding-bottom: 100%;
    } 
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
    //* Tablet view: 2 tiles */
    .pictureBox {
	width: 50%;
	padding-bottom: 50%;
    }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
    //* Small desktop / ipad view: 3 tiles */
    .pictureBox {
	width: 33.3%;
	padding-bottom: 33.3%;
    }
}
@media only screen and (max-width : 1950px) and (min-width : 1051px) {
    //* Medium desktop: 4 tiles */
    .pictureBox {
	width: 25%;
	padding-bottom: 25%;
    }
}
@media only screen and (max-width : 3840px) and (min-width : 1951px) {
    //* Large desktop: 5 tiles */
    .pictureBox {
	width: 20%;
	padding-bottom: 20%;
    }
}

//background: url(bg_apple_little.gif) no - repeat center center;
//height: 200px;
//width: 200px;

//    -moz-transform:scale(0.25);
//    -webkit-transform:scale(0.25);
//    transform:scale(0.25);
//max-width: $thumbnail-width;
//  padding:$thumbnail-padding;
//  display:inline-block;
//}

